body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.sadrzajStrane{
    width: 70vw;
    display: grid;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}


.sadrzajStrane form{
    width: 40vw;
    margin-left: auto;
    margin-right:auto;
    display: grid;
}

.sadrzajStrane .lista{
    width: 60vw;
    background-color: #a08766;
}

.sadrzajStrane .lista h2{
    color: white;
}

.sadrzajStrane .lista table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



